{% extends "header.html" %}
{% block content %}

<h3>Upload Image</h3>

<form method="POST" action="/upload" enctype="multipart/form-data">
    <div class="form-group">
        {{ form.hidden_tag() }}
        {{ form.picture.label(class="form-control-label") }}
        {{form.picture(class="form-control-file")}}
        {% if form.picture.errorrs %}
        {% for error in form.picture.errors %}
            <span class="text-danger">{{error}}</span>
            {%endfor%}
        {%endif%}
        {{form.scale.label()}}
        {{form.scale()}}
    </div>
    <div class="form-group">
       {{ form.submit}}
    </div>
    
</form>

{% if waktu==0 %}

{% else %}
    <h2>{{waktu}}s</h2>
{%endif%}
{% if filePath=='' %}

{% else %}
<img class="image-awal" src="{{url_for('static', filename=filePath)}}" style="width: 30%; height: auto;" >

{%endif%} 
{% if imgJadi=='' %}

{% else %}
<img class="image-akhir" src="{{url_for('static', filename=imgJadi)}}" style="width: 30%; height: auto;" >
<a style="  background: #ffffff;
border-radius: 5px;
border: none;
padding: 0.5rem 1rem 0.5rem 1rem;
color: #56ccf2;
display: inline-block;
cursor: pointer;
font-weight: 600;
font-size: 18px;" href="{{url_for('static', filename=imgJadi)}}" download="image"> <button>Download</button> </a>
{%endif%}
{% endblock %}